<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- При изменении настроек учтите, что RowsCount, деленное на Party, должно дать натуральное число!!! -->
  <appSettings>
    <!-- Число строк в базе Employee -->
    <add key="RowsCount" value="10000"/>
    <!-- Число строк, которые мы вставляем в Employee одним INSERT INTO -->
    <add key="Party" value="1000"/>
  </appSettings>
</configuration>